<a href="https://colab.research.google.com/github/GuerrillaGambit/Medical-appointment-No-Show/blob/main/DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Review: Medical Appointment No Shows

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#cleaning">Data Cleaning</a></li>

<a id='intro'></a>
## Introduction

> * The data set is Medical Appointment No shows. <br>
> * The data set variables are self explanatory. The variables in the data set are 'Patient ID', 'AppointmentID', 'Gender', 'ScheduleDay', 'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-Show'. <br>
> * No-Show as Yes corresponds to people who did not turn up for the doctor visit and No-Show as No turned up for the doctor visit.

## Important information:

1. Explain your findings and the steps you've followed using the Markdown cells. Create Markdown cells wherever necessary
2. Double-click the markdown cells to edit them and add your inferences
3. Add necessary code cells for your task. You are not restricted to the cells created before hand.

### Steps to be followed:
1. Load the data
2. Variable Identification.
3. Check for cleanliness.
4. Trim and clean the data.
5. Feature Selection.
6. Modification of features if needed.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### Loading the data

In [ ]:
#mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#providing configuration path
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
#Changing working directory
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [ ]:
#Downloading Dataset
!kaggle datasets download -d joniarroba/noshowappointments

Downloading noshowappointments.zip to /content/gdrive/My Drive/Kaggle
  0% 0.00/2.40M [00:00<?, ?B/s]
100% 2.40M/2.40M [00:00<00:00, 39.1MB/s]

In [ ]:
!ls

kaggle.json  KaggleV2-May-2016.csv  noshowappointments.zip

In [ ]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  noshowappointments.zip
replace KaggleV2-May-2016.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: KaggleV2-May-2016.csv

In [ ]:
dataset = pd.read_csv('KaggleV2-May-2016.csv')

In [ ]:
# Create a summary of the data.
dataset.describe()

          PatientId  AppointmentID  ...        Handcap   SMS_received
count  1.105270e+05   1.105270e+05  ...  110527.000000  110527.000000
mean   1.474963e+14   5.675305e+06  ...       0.022248       0.321026
std    2.560949e+14   7.129575e+04  ...       0.161543       0.466873
min    3.921784e+04   5.030230e+06  ...       0.000000       0.000000
25%    4.172614e+12   5.640286e+06  ...       0.000000       0.000000
50%    3.173184e+13   5.680573e+06  ...       0.000000       0.000000
75%    9.439172e+13   5.725524e+06  ...       0.000000       1.000000
max    9.999816e+14   5.790484e+06  ...       4.000000       1.000000

[8 rows x 9 columns]

Minimum age in the dataset is negative(something to be taken care of) and max age is above 100.

In [ ]:
dataset.drop(dataset[dataset['Age']<0].index, inplace=True)

In [ ]:
dataset.loc[dataset.Handcap > 1, "Handcap"] = 1

### Variable Identification
* Identifying the target variable(dependent variable) and the predictor variables(independent variables) which affect the status of the target variable.

In [ ]:
dataset.head()

      PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
0  2.987250e+13        5642903      F  ...       0            0       No
1  5.589978e+14        5642503      M  ...       0            0       No
2  4.262962e+12        5642549      F  ...       0            0       No
3  8.679512e+11        5642828      F  ...       0            0       No
4  8.841186e+12        5642494      F  ...       0            0       No

[5 rows x 14 columns]

#### Mention your target variable(s) in this markdown cell and specify the predictor variable(s) you'll use for the analysis

### Type of Variable Classified:
#### Predictor Variables: Gender, Scheduled Day, Appointment Day, Age, Neighbourhood, Scholarship, Hipertension, Alcoholism, Handcap, SMS received.

<br>

#### Target Variable (Independent Variable): No Show

<br>

### Classify the features based on dataype

In [ ]:
# Check the data types of each column (features)
dataset.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

### Write the features categorized by data types here:
### Data Types

<br>

### Checking for missing data

In [ ]:
dataset.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

Are there any missing data? _(Answer here)_
####**No null data**

#### Check the counts of some categorical variables and give your inference

In [ ]:
dataset.describe()

          PatientId  AppointmentID  ...        Handcap   SMS_received
count  1.105260e+05   1.105260e+05  ...  110526.000000  110526.000000
mean   1.474934e+14   5.675304e+06  ...       0.020276       0.321029
std    2.560943e+14   7.129544e+04  ...       0.140943       0.466874
min    3.921784e+04   5.030230e+06  ...       0.000000       0.000000
25%    4.172536e+12   5.640285e+06  ...       0.000000       0.000000
50%    3.173184e+13   5.680572e+06  ...       0.000000       0.000000
75%    9.438963e+13   5.725523e+06  ...       0.000000       1.000000
max    9.999816e+14   5.790484e+06  ...       1.000000       1.000000

[8 rows x 9 columns]

The counts of categorical variables are equal.

The value of handcap which is a categorical variable should be 1 or 0 but values of 2,3,4 existed. 

This was taken care of in the linked cell, and the values of 2, 3 and 4 were reduced to 1.

https://colab.research.google.com/drive/1PAvSNbeH9qhJVXxkbAvTfQji2cpWCKho#scrollTo=Klw1MaOBsLPv&line=1&uniqifier=1

<a id='cleaning'></a>
## Data Cleaning

#### The changes made to date format.
1. The Scheduled and Appointment days are in date time format.
2. Convert the date time format to Date, Week day and Month Scheduled.
3. Days, Month should normal count in integer.
4. The Week day should be coded as Monday : 0 to Sunday : 6
5. As the dataset is of year 2016, the year can be ignored.

Hint : This can be done using NumPy's datetime64 (https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html)

* Some of the spellings of the columns are incorrect.
* Correcting them will make it easier for the users to follow.

### Check the unique values for each column.
Certain values might be of wrong format or deosn't make sense with regard to the feature. Identify and correct them if any. 

Add any number of cells you think are necessary in this section

Write your findings **here**

### Feature Selection

Choose the features that are best suited for the analysis and drop those which are unnecessary.

Display your final dataset at the end